* {
  margin: 0;
  padding: 0;
}
.headers {
  background-color: #f4f4f4;
}
.containers {
    width: 1200px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}
.icon {
    display: inline-block;
    width: 32px;
    height: 32px; 
    vertical-align: middle;
    background: url(../img/logo.png);
}
.containers span {  
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
}
.containers ul {
    float: right;
    margin-bottom: 0;
}
.containers li {
    display: inline;
    line-height: 50px;
    
}
.containers a {
  color: #000;
}
.containers a:hover {
  color: #f00;
}
.deta_ti {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.deta_ti h2 {
  border-left: 5px solid #f00;
  padding-left: 10px;
  margin-top: 10px;
}
.deta_ti span {
  display: inline-block;
  margin: 10px auto;
  margin-left: 20px;
}
.detail {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.detail img {
  width: 500px;
  height: 550px;
  margin-top: 20px;
}
.detail p {
  text-indent: 2em;
  text-align: left;
}
.footer {
  background-color: #f4f4f4;
  margin-top: 20px;
}
.footer_top {
  width: 1200px;
  height: 200px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_top li {
  text-align: center;
}
.footer_top p {
  margin-bottom: 0;
}
.footer hr {
  width: 200px;
  margin: 0 auto;
}
.footer div {
  height: 50px;
  line-height: 50px;
  text-align: center;
}