* {
  margin: 0;
  padding: 0;
}
.headers {
  background-color: #f4f4f4;
}
.con_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.icon {
  display: inline-block;
  width: 32px;
  height: 32px; 
  vertical-align: middle;
  background: url(../img/logo.png);
}
.con_left span {
  color: #000;
  font-size: 20px;
  vertical-align: middle;
}
.my_meun {
  display: none;
  width: 42px;
  height: 27px;
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 24px;
  border: 1px solid #000;
  border-radius: 10%;
}
.con_right ul {
  list-style: none;
  margin-bottom: 0;
}
.con_right li {
  display: inline-block; 
  vertical-align: middle;
} 
.con_right a {
  color: #000;
  text-decoration: none;
}
.con_text a:hover {
  color: #f00;
}

@media screen and (min-width:576px){
  .detail img {
    width: 100%;
    height: 380px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px){
  .con_text .my_meun {
    display: block;
  }
  .con_text .list {
    display: none;
  }
  .list-mobile  {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .detail img {
    width: 100%;
    height: 380px;
    margin-top: 20px;
    margin: 0 auto;
  }
}
@media screen and (max-width:576px){
  .detail img {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width:768px){
  .detail img {
    width: 75%;
    height: 550px;
    margin-top: 20px;
    margin: 0 auto;
  }
}
@media screen and (min-width:992px){
  .detail img {
    width: 75%;
    height: 550px;
    margin-top: 20px;
    margin: 0 auto;
  }
}

.deta_ti {
  margin: 0 auto;
}
.deta_ti h2 {
  border-left: 5px solid #f00;
  padding-left: 10px;
  margin-top: 10px;
}
.deta_ti span {
  display: inline-block;
  margin: 10px auto;
  margin-left: 20px;
}
.detail {
  margin: 0 auto;
}

.detail p {
  text-indent: 2em;
  text-align: left;
}
.footer {
  background-color: #f4f4f4;
  margin-top: 10px;
}
.footer_top {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.footer_top li {
  text-align: center;
}
.footer_top p {
  margin-bottom: 0;
}
.footer hr {
  width: 60%;
  margin: 0 auto;
}
.footer div {
  height: 50px;
  line-height: 50px;
  text-align: center;
}