* {
  margin: 0;
  padding: 0;
}
.headers {
  background-color: #f4f4f4;
}
.containers {
    width: 1200px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}
.icon {
    display: inline-block;
    width: 32px;
    height: 32px; 
    vertical-align: middle;
    background: url(../img/logo.png);
}
.containers span {  
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
}
.containers ul {
    float: right;
    margin-bottom: 0;
}
.containers li {
    display: inline;
    line-height: 50px;
    
}
.containers a {
    color: #000;
}
.containers a:hover {
  color: #f00;
}
.new_le {
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.new_le span {
  font-size: 30px;
  color: #f00;
  text-transform : uppercase
}
.news_li {
  width: 1200px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.news_li li {
  width: 350px;
  margin-top: 20px;
}
.news_li img {
  width: 350px;
  height: 350px;
}
.news_con nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #f4f4f4;
  margin-top: 20px;
}
.footer_top {
  width: 1200px;
  height: 200px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_top li {
  text-align: center;
}
.footer_top p {
  margin-bottom: 0;
}
.footer hr {
  width: 200px;
  margin: 0 auto;
}
.footer div {
  height: 50px;
  line-height: 50px;
  text-align: center;
}