* {
  margin: 0 auto;
  padding: 0;
}
.header {
  width: 600px;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  background-color: #020A4E;
}
span {
  font-size: 25px;
  line-height: 50px;
  color: #fff;
  vertical-align: middle;
}
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: url(./img/咖啡.png);
}
.main {
  width: 600px;
  margin-top: 4px;
}
.main::after{
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.main_le {
  float: left;
  width: 30%;
}
.list {
  list-style-type: none;
  margin-left: 10px;
}
.list a {
  text-decoration: none;
}
.list a:hover {
  color: #f00;
}
.main_ri {
  float: left;
  width: 70%;
}
.main_ri img {
  width: 400px;
  height: 300px;
}
.main_ri h2 {
  margin: 7px auto;
}
.footer {
  width: 600px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  background-color: #020A4E;
}